{% extends 'patient_therapy_base.html' %}
{% load widget_tweaks %}
{% load static %}

{% block list_object %}

 {% for obj in object_list %}
 <div class="col-sm-6 col-sm-offset-3">
  <li class="list-group-item">
  	{{obj.conduta}}
     <div class=" pull-right">
         <a href="{% url 'patients:therapy_coduct' pk_patient obj.pk %}"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></a>
         <a href="{% url 'patients:therapy_delete' pk_patient obj.pk %}"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></a>
     </div>
  </li>
</div>
 {% endfor %}
{% endblock %}

{% block submit_type %}
  <div class="form-group">
      <input type="text" class="form-control" name ="obj"></input>
  </div>
{% endblock %}
