{% extends 'patient_edit_base.html' %}
{% load widget_tweaks %}
{% load static %}


{% block style %}
  <link href="{% static "navbar-static-top.css" %}" rel="stylesheet">
{% endblock %}

{% block patient_edit %}
<br>

<a href="{% url 'patients:patient_plan' pk_patient %}"><button type="button" class="btn btn-default">Voltar</button></a>

<center>
	<h2>Selecione uma das colunas abaixo</h2>
<br>
<p>
  <a href="{% url 'patients:session_objective' pk_patient session %}"><button type="button" class="btn btn-primary btn-lg">Objetivos Específicos</button></a>
  <a href="{% url 'patients:session_content' pk_patient session %}"><button type="button" class="btn btn-primary btn-lg">Conteúdo</button></a>
  <a href="{% url 'patients:session_activity' pk_patient session %}"><button type="button" class="btn btn-primary btn-lg">Atividades</button></a>
  <a href="{% url 'patients:session_observation' pk_patient session %}"><button type="button" class="btn btn-primary btn-lg">Observações</button></a>
</p>
</center>
{% endblock %}
