{% extends 'patient_therapy_base.html' %}
{% load widget_tweaks %}
{% load static %}

{% block list_object %}

         <div class="panel panel-default">
            <div class="panel-heading">
                <h3>{{name_activity_plural}}<h3>
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <div class="dataTable_wrapper">
                    <table class="table table-striped table-bordered table-hover" id="dataTables-example">
                        <thead>
                            <tr>
                                <th>{{name_activity}}</th>
                                <th>Detalhes</th>
                                <th>Excluir</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for obj in object_list %}
                            <tr class="odd gradeX">
                                <td>{{obj.conduta}}</td>
                                <td>
                                    <center>
                                    <a href="{% url 'patients:therapy_coduct' pk_patient obj.pk %}"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></a>
                                    </center>
                                </td>
                                <td>
                                    <center>
                                    <a href="{% url 'patients:therapy_delete' pk_patient obj.pk %}"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></a>
                                    </center>
                                </td>

                            </tr>
                            {% endfor %}

                        </tbody>
                    </table>
                </div>
                <!-- /.table-responsive -->
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
{% endblock %}

{% block submit_type %}
  <div class="form-group">
      <input type="text" class="form-control" name ="obj"></input>
  </div>
{% endblock %}
