{% extends 'patient_therapy_base.html' %}
{% load widget_tweaks %}
{% load static %}

{% block back_button %}
<br>
	<a href="{% url 'patients:patient_therapy' pk_patient %}"><button type="button" class="btn btn-default">Voltar</button></a>
	<br>
{% endblock %}

{% block list_object %}

        <div class="panel panel-default">
            <div class="panel-heading">
                <h3>{{name_activity_plural}}<h3>
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <div class="dataTable_wrapper">
                    <table class="table table-striped table-bordered table-hover" id="dataTables-example">
                        <thead>
                            <tr>
                                <th>{{name_activity}}</th>
                                <th>Excluir</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for obj in object_list %}
                            <tr class="odd gradeX">
                                <td>{{obj.descricao}}</td>
                                <td>
                                    <center>
                                    <a href="{% url 'patients:topic_delete' pk_patient pk_conduct obj.pk %}"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></a>
                                    </center>
                                </td>

                            </tr>
                            {% endfor %}

                        </tbody>
                    </table>
                </div>
                <!-- /.table-responsive -->
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
{% endblock %}

{% block submit_type %}
 <textarea name="obj" class="form-control" rows="3"></textarea>
{% endblock %}
